<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
<h1>Тестовое задание:Каталог компакт дисков</h1>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <meta charset="UTF-8">
    <title>:All for clear</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>



<div id="main">
    {% block main %}
    {% endblock %}
</div>
<div>
{% block navbar %}{% endblock %}
</div>

</body>

</html>