<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
{% block header %}
<div id="header">

        <div id="user-tools">

                Welcome,
                <strong>joe</strong>.



                    <a href="/">View site</a> /






                <a href="/admin/password_change/">Change password</a> /

                <a href="/admin/logout/">Log out</a>

        </div>




<h2 class="title">
<ul class="menu">



<header>Menu</header>

</ul>
</h2>
 </div>
{% endblock %}

</body>
</html>